<div class="todo">
  <p>Tasks:</p>
<ul>
  <todoItem-comp
    *ngFor="let item of nonActiveItems"
    [item]="item"
    (onTodoUpdate)="fetchTodos()"
  >
  </todoItem-comp>
</ul>
<input type="text"
       placeholder="Enter new task"
       [(ngModel)]="name"
       (keydown.enter)="addTodo(name)"
/>
<button class="add"
        (click)="addTodo(name)" [disabled]="!name">Add
</button>
<div class="line"></div>
<p>Completed tasks:</p>
<ul>
  <todoItem-comp *ngFor="let item of activeItems"
                 [item]="item"
                 [class.isDone]="item.isDone"
                 (onTodoUpdate)="fetchTodos()"
  >
  </todoItem-comp>
</ul>
</div>
