<div class="todo" cdkDropListGroup>
  <div class="todo__items">
  <p class="todo__label">Tasks:</p>
<ul class="todo__list"
    cdkDropList
    [cdkDropListData]="items"
    (cdkDropListDropped)="dropTodo($event)"
>
  <todoItem-comp *ngFor="let item of nonActiveItems$ | async"
                 [item]="item"
                 (onTodoUpdate)="fetchUserTodos()"
                 cdkDrag
                 (cdkDragStarted)="dragStarted($event)"
                 (cdkDragEnded)="dragEnded($event)"
                 [cdkDragData]="item">
  </todoItem-comp>
</ul>
  <div class="todo__input">
  <mat-form-field>
  <mat-label>New task</mat-label>
  <input matInput
         type="text"
         placeholder="Enter new task"
         autocomplete="off"
         [(ngModel)]="name"
         (keydown.enter)="addTodo(name)"
  />
  </mat-form-field>
  <button mat-raised-button class="todo__add"
        (click)="addTodo(name)" [disabled]="!name">Add
  </button>
  </div>
<div class="todo__line"></div>
<p class="todo__label">Completed tasks:</p>
<ul class="todo__list"
    cdkDropList
    [cdkDropListData]="items"
    (cdkDropListDropped)="dropTodo($event)"
>
  <todoItem-comp *ngFor="let item of activeItems$ | async"
                 [item]="item"
                 [class.todo-done]="item.isDone"
                 (onTodoUpdate)="fetchUserTodos()"
                 cdkDrag
                 (cdkDragStarted)="dragStarted($event)"
                 (cdkDragEnded)="dragEnded($event)"
                 [cdkDragData]="item">
  </todoItem-comp>
</ul>
  </div>
  <div class="todo__trash"
       cdkDropList
       (cdkDropListDropped)="removeDropTodo($event)">
    <mat-icon *ngIf="isDragging"
              class="todo__trash-icon"
              aria-hidden="false">delete
    </mat-icon>
  </div>
</div>
