.sign-up{
  display: flex;
  flex-direction: column;
  width: 300px;
  &__item{
    margin: 10px;
  }
  &__label{
    display: block;
    margin-bottom: 5px;
    color: #1976d2;
  }
  &__accept{
    margin: 5px;
  }
  &__input{

  }
  &__is-invalid{
    &:focus{
      outline:none;
      border: solid red;
    }
  }
  &__btn{
    height: 35px;
    width: 80px;
    margin: 10px;
    align-self: flex-start;
    background-color: #1976d2;
    color: #fff;
  }
}
