<form class="sign-in" [formGroup]="loginForm">
  <div class="sign-in__item">
    <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput
           type="text"
           class="sign-in__input"
           placeholder="Enter your login"
           autocomplete="off"
           formControlName="login"
           [class.sign-in__is-invalid]="loginForm.controls.login.invalid"
    />
    </mat-form-field>
    <p *ngIf="isNotExist"
       class="sign-in__error"
    >Login does not exist
    </p>
  </div>
  <div class="sign-in__item">
    <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput
           type="password"
           class="sign-in__input"
           placeholder="Enter your password"
           formControlName="password"
           [class.sign-in__is-invalid]="loginForm.controls.password.invalid"
    />
    </mat-form-field>
    <p *ngIf="isIncorrect"
       class="sign-in__error"
    >Password incorrect
    </p>
  </div>
  <button class="sign-in__btn btn"
          (click)="login()"
          [disabled]="loginForm.invalid"
  >Sign in
  </button>
</form>
