.cards{
  background-color: #e6e6e6;
  margin-bottom: 5px;
  &__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 5px;
    padding-left: 5px;
  }
  &__delete {
    margin: 5px;
  }
  &__checkbox {
    margin-left: 10px;
  }
  &__is-checked {
    text-decoration: line-through;
  }
}
