<nav>
  <ul class="nav">
    <li class="nav-item">
      <a *ngIf="isLoggedIn" class="nav-link active" aria-current="page" routerLink="/todos">Home</a>
    </li>
    <li class="nav__grow nav-item">
      <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/sign-in">Sign in</a>
    </li>
    <li class="nav-item">
      <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/sign-up">Sign up</a>
      <ul *ngIf="isLoggedIn" class="nav__dropdown">
        <li><a class="nav-link">{{email}}</a></li>
        <li><a (click)="logOut()" routerLink="/sign-in">Log out</a></li>
      </ul>
    </li>
  </ul>
</nav>
